/* Colores */
$dark: #112b3c;
$light: #205375;
$special: #f66b0e;
$white: #efefef;

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Roboto:ital,wght@0,400;0,700;1,300&display=swap");

$main-font: "Roboto", sans-serif;
$special-font: "Koulen", cursive;

$fw-light: 300;
$fw-normal: 400;
$fw-bold: 700;
